body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:23px;
  width:586px;
  height:185px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u3 {
  position:absolute;
  left:100px;
  top:0px;
  width:481px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u7 {
  position:absolute;
  left:100px;
  top:30px;
  width:481px;
  height:30px;
  text-align:left;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u11 {
  position:absolute;
  left:100px;
  top:60px;
  width:481px;
  height:30px;
  text-align:left;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u15 {
  position:absolute;
  left:100px;
  top:90px;
  width:481px;
  height:30px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u19 {
  position:absolute;
  left:100px;
  top:120px;
  width:481px;
  height:30px;
  text-align:left;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:30px;
}
#u23 {
  position:absolute;
  left:100px;
  top:150px;
  width:481px;
  height:30px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
